body{
    background-color:cornflowerblue;
    text-align: center;
}

h1 {
    color: black;
}

h2 {
    color: green;
}

h3{
    color:tomato;
}

h4 {
    color: yellowgreen;
}

h5 {
    color: pink;
}

h6 {
    color: red;
}

hr {
    height: 10px;
    width: 1080;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    /*border-radius: 1px;*/
}

.hr1080 {
    height: 1px;
    width: 1000px;
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
}

.hr720 {
    height: 1px;
    width: 720px;
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
}

p.pgit {
    /* font-family: 'Times New Roman', Times, serif; */
    text-align: center;
}

.tomato {
    color: tomato; 
    display: inline 
}

.skyblue {
    color: skyblue; 
    display: inline 
}

#black {
    color: black;    
}
#black300 {
    color: black;
    font-size: 300%;
}

#lightgray {
    color: lightgrey;
}

#green160 {
    color: green; 
    font-size: 160%;   
}

#tomato120 {
    color: tomato;
    font-size: 120%;    
}

div.center {    
    top: 50%;     
    position:relative;       
    justify-content: center;
    transform: translateY(-50%);
}

div.GeneratedText {
    font-family: 'Arial Black', sans-serif;
    font-size: 4em;
    letter-spacing: 0.2em;    
    /* background-color: #7fccff; blanchedalmond; */  
    margin: 0px;
    text-align: center;
}

div.container1280x1280 {
    width: 1280px;
    /* height: 1080px; */
    border: 0px solid red;
    margin: 0 auto;
    text-align: center;
    background-color: white
}

div.container1080x1080 {
    width: 1080px;
    /* height: 1080px; */
    border: 0px solid red;
    margin: 0 auto;
    text-align: center;   
    background-color: white
}

div.container1000x750 {
      width: 1000px;
      height: 750px;
      border: 0px solid gray;
      margin: 0 auto;
      text-align: center;  
      background-color: white
}

div.container1000x1000 {
    width: 1000px;
    height: 1000px;
    border: 0px solid gray;
    margin: 0 auto;
    text-align: left;
    background-color: white
}

div.container300x300 {
      width: 300px;
      height: 300px;
      border: 0px solid red;
      margin: 0 auto;
      text-align: left;  
      background-color: white
}     

div.container300x250 {
    width: 300px;
    height: 250px;
    border: 0px solid red;
    margin: 0 auto;
    text-align: center;
    background-color: white
}

div.container300x150 {
    width: 300px;
    /* height: 300px; */
    border: 0px solid red;
    margin: 0 auto;
    text-align: left;
    background-color: white
}

div.container250x320 {
    width: 250px;
    height: 320px;
    border: 0px solid red; 
    margin: 0 auto;
    text-align: left;
    padding-left: 30px;
    background-color: white
}

