body {
    background-color:cornflowerblue;
    text-align: center;
}
footer {   
    text-align: center;
}

h1 {
    color: red;
    font-family:'Times New Roman', Times, serif;
    text-align: center;    
}

h2 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

h3 {
    color: tomato;
}

h4 {
    color: yellowgreen;
}

h5 {
    color: pink;
}

h6 {
    color: red;
}

p {
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
}

p.pgit {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
   

p.pverdana {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.2em;
}

hr {
    height: 10px;
    width: 1080;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    /*border-radius: 1px;*/
} 

div.container1280x1280 {
    width: 1280px;
    /* height: 1080px; */
    border: 0px solid red;
    margin: 0 auto;
    text-align: center;   
    background-color: white
}

#hashtag { 
    color:deeppink;
    font-size: 3em;
    margin-left: -60%;
}

.period {
    color: darkblue;
    font-size: 2.5em;
    margin-right: 55%;
    margin-top: -4%;
}

#margin20 {
    color: deeppink;
    font-size: 1.5em;
    margin-left: 20%;
    margin-top: -1%;
}

#margin40 { 
    font-size: 2em;
    margin-left: 40%;
    margin-top: -3%;
}

#margin70 {
    margin-left: 65%;
    margin-top: 0%;
}