* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;    
}

li{
    padding-left: 10px;
}

a:hover {
    color: blue;
}

input {
    width: 50px;
}

.yellow{
    color:yellow
}

.red{
     color:red
}
.green{
    color:green;
}

.blue{
    color: blue;
}
.lgreen{
    color:lightgreen;
}

.sky{
    background-color: skyblue
}

#black{
    background-color: black;
}

body {
     font-family: sans-serif;
     font-size: 16px;
     height: 100vh;
     width: 80%;  
     /* line-height: 1.5;
     color: black;*/
     background-color: cornflowerblue; 
     margin: 0 auto;
     display:grid;
     /* gap: 10px; */
     grid-template-areas: 
     'header header'   
     'nav content';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 200px 1500px;
    }   

.logo{  
    z-index: 1;
    grid-column: 2;
    grid-row: 1;
    padding-left: 320px;
}

.alink{  
    z-index: 1;
    grid-column: 2;
    grid-row: 1;  
    justify-self: end; 
    align-self: center;  
}

#none {
    color: #3474e6; 
}

header {   
    grid-area: header;    
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}

nav {    
    grid-area: nav;
}

main {
    grid-area: content;
    display: flex;
    flex: 1; 
    /* flex-wrap: wrap;  */
    /* margin: 0 auto; */
    justify-content: center;
}


header,  main,  nav {
    background-color: rgb(255, 245, 245);
    color :black;
    padding: 5px;
    border: cornflowerblue 1px solid;
}

header {
    background-color: #3474e6;    
}

nav {
   background-color: rgb(255, 245, 230);

} 

.col {
    /* display: flex; */
    /* flex: 1 1 100%;*/
    /* flex-wrap: wrap;*/
    width: 480px;
    /* height: 400px;     */
}


.box, .boxempty, .box1, .col ,.col1st{    
    flex: 1;
    /* width: 100%; */
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    margin: 10px;
    background-color: white;
    height: minmax(150px, auto);
}

.boxempty {    
    display:flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 245, 245);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.10);
}

.underline {
    text-decoration: underline;
}


.title {    
    display: inline-block; 
    font-family: 'Arial Black', sans-serif;
    font-size: 3em;
    letter-spacing: 0.2em;  
    font-weight: bold;
    border: 0px solid red;
    text-align: center;
}

.navi {  
    display: inline-block;
    font-weight: bold;
    border: 0px solid red;
    color: #0151cc;
    padding: 0px 20px 0px 20px;   
}

/* 
@media (max-width: 768px) {
*/

@media (max-width: 960px) {
    body {
        /* grid-template-rows: 100px; */
        /* grid-auto-rows: minmax(50px, auto);*/
        display: grid;
        grid-template-areas:
            'header header'
            'nav nav'
            'content content';                        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr 3000px;
     }

    .logo{
        display: none;
    }

    header {
        grid-area: header;
        flex-direction: column; 
        text-align: center; 
        
    }
    #none {
        color:  #0151cc;
    }

    .alink{
        display:none
    }    

    .title {
        display: inline-block;
        font-weight: bold;
        font-size: large;
    }

    nav {
        grid-area: nav;
    }

    main {
        grid-area: content;
        flex-direction: column;  
        /* margin: 0 auto; */
        align-items: center;      
    }
    .col,.col1st{
        width: 480px       
    }
} 